.u-section-1 {
    background-image: url("images/background.webp");
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 805px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 {
      background-position: 50% 50%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 664px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 {
      background-position: 0% 53.37%;
      background-size: 115%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 509px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 382px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 {
      background-size: auto 125%;
    }
  
    .u-section-1 .u-sheet-1 {
      min-height: 241px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 595px;
  }
  
  .u-section-2 .u-image-1 {
    width: 570px;
    height: 570px;
    animation-duration: 1000ms;
    margin: 13px auto 13px 58px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 481px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 492px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 594px;
    }
  
    .u-section-2 .u-image-1 {
      width: 540px;
      height: 540px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 556px;
    }
  
    .u-section-2 .u-image-1 {
      width: 340px;
      height: 340px;
    }
  }.u-section-3 .u-sheet-1 {
    min-height: 1004px;
  }
  
  .u-section-3 .u-image-1 {
    width: 570px;
    height: 380px;
    animation-duration: 1000ms;
    margin: 60px auto 0;
  }
  
  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
    width: 321px;
    margin: 20px auto 0;
  }
  
  .u-section-3 .u-accordion-1 {
    width: 713px;
    margin: 20px auto 60px;
  }
  
  .u-section-3 .u-accordion-link-1 {
    letter-spacing: 0px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: none;
    padding: 15px 30px;
  }
  
  .u-section-3 .u-icon-1 {
    height: 20px;
    width: 20px;
    background-image: none;
  }
  
  .u-section-3 .u-accordion-pane-1 {
    min-height: 150px;
  }
  
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-2 {
    margin-top: 0;
    font-size: 1rem;
    font-style: normal;
  }
  
  .u-section-3 .u-accordion-link-2 {
    letter-spacing: 0px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: none;
    padding: 15px 30px;
  }
  
  .u-section-3 .u-icon-2 {
    height: 20px;
    width: 20px;
    background-image: none;
  }
  
  .u-section-3 .u-accordion-pane-2 {
    min-height: 150px;
  }
  
  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-3 {
    margin-top: 0;
  }
  
  .u-section-3 .u-accordion-link-3 {
    letter-spacing: 0px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: none;
    padding: 15px 30px;
  }
  
  .u-section-3 .u-icon-3 {
    height: 20px;
    width: 20px;
    background-image: none;
  }
  
  .u-section-3 .u-accordion-pane-3 {
    min-height: 150px;
  }
  
  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-4 {
    margin-top: 0;
  }
  
  .u-section-3 .u-accordion-link-4 {
    letter-spacing: 0px;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: none;
    padding: 15px 30px;
  }
  
  .u-section-3 .u-icon-4 {
    height: 20px;
    width: 20px;
    background-image: none;
  }
  
  .u-section-3 .u-accordion-pane-4 {
    min-height: 180px;
  }
  
  .u-section-3 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-3 .u-text-5 {
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1044px;
    }
  
    .u-section-3 .u-image-1 {
      height: 338px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-3 .u-accordion-1 {
      width: 540px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
      min-height: 1136px;
    }
  
    .u-section-3 .u-image-1 {
      height: 234px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-3 .u-accordion-1 {
      width: 340px;
    }
  }.u-section-4 {
    background-image: none;
  }
  
  .u-section-4 .u-sheet-1 {
    min-height: 63px;
  }
  
  .u-section-4 .u-social-icons-1 {
    height: 35px;
    min-height: 16px;
    width: 215px;
    min-width: 120px;
    animation-duration: 1000ms;
    margin: 11px 104px 0 auto;
  }
  
  .u-section-4 .u-icon-1 {
    color: rgb(59, 89, 152) !important;
  }
  
  .u-section-4 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }
  
  .u-section-4 .u-icon-3 {
    height: 100%;
    color: rgb(197, 54, 164) !important;
  }
  
  .u-section-4 .u-icon-4 {
    height: 100%;
    color: rgb(210, 34, 21) !important;
  }
  
  .u-section-4 .u-icon-5 {
    height: 100%;
    color: rgb(255, 255, 255) !important;
  }
  
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    text-shadow: 4px 0px 0px rgba(0,0,0,0.85);
    animation-duration: 1000ms;
    font-weight: 700;
    margin: -34px auto 12px;
  }
  
  @media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
      min-height: 55px;
    }
  
    .u-section-4 .u-social-icons-1 {
      margin-top: 4px;
      margin-right: 105px;
    }
  
    .u-section-4 .u-text-1 {
      width: auto;
      margin-top: -39px;
      margin-bottom: 0;
      margin-left: 376px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-4 .u-social-icons-1 {
      margin-top: 10px;
      margin-right: 173px;
    }
  
    .u-section-4 .u-text-1 {
      margin-top: -37px;
      margin-bottom: 8px;
      margin-left: 73px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-4 .u-social-icons-1 {
      margin-top: 13px;
      margin-right: 100px;
    }
  
    .u-section-4 .u-text-1 {
      margin-right: 368px;
      margin-bottom: 0;
      margin-left: 18px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
      min-height: 114px;
    }
  
    .u-section-4 .u-social-icons-1 {
      margin-top: 64px;
      margin-right: auto;
    }
  
    .u-section-4 .u-text-1 {
      font-size: 1.5rem;
      margin: -84px 72px 60px 28px;
    }
  }