*{
    background: url(../images/background.webp) #f67e05;
}
.home {
    background: none;
    position: relative;
}
.search__icon {
    position: absolute;
    background: url(../svg/search.svg) no-repeat center center;    
    top: 370px;
    left: 473px;
    width: 23px;
    height: 39px;
    border-radius: 50%;
}

.Microphone__icon {
    position: absolute;
    background: url(../svg/microphone.svg)no-repeat center center; 
    top: 370px;
    left: 1009px;
    width: 25px;
    height: 39px;
    border-radius: 50px;
}  

.search {
    position: absolute;
    width: 500px;
    height: 35px;
    background: rgb(255, 255, 255);
    top: 370px;
    left: 500px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 19px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}



.search__icon:hover {cursor: pointer;}
.search__icon:hover:active{background: red;}

.Microphone__icon:hover {cursor: pointer;}
.Microphone__icon:hover:active{background: red;}

.search_one {
    position: absolute;
    background: rgb(255, 255, 255);
    top: 370px;
    left: 460px;
    width: 100px;
    height: 39px;
    border-radius: 50px;
    cursor: pointer;
}

.search_two {
    position: absolute;
    background: rgb(255, 255, 255);
    top: 370px;
    left: 948px;
    width: 100px;
    height: 39px;
    border-radius: 50px;
}


.Navbar {
    position: absolute;
    background: rgb(255, 0, 0);
    width: 1535px;
    height: 50px;

}
.Navbar-links {
    position: absolute;
    background: rgb(114, 251, 9);
    width: 185px;
    height: 50px;
    left: 1350px;
}


.__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.__navbar-links_container p,
.__navbar-sign p,
.__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}